<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  This is how you get in touch so you can bitch at us. You can contact us at
  <a href="chen@ucdavis.edu">this address</a> with all bitching and whining.
</p>
