<!-- Exercise 9.5 -->
  <div class="span6 offset3">
    <%= form_for @user do |f| %>
      <%= render 'shared/error_messages' %>
      <div class="form-group">
        
      </div>
    <% end %>
  </div>
